:root {
   /* Brand */
    --mx-primary-400: 255 97 105;
   --mx-primary-500: 255 97 105;
   --mx-primary-600: 160 49 45;
 
   --mx-secondary-500: 250 238 160;
  --mx-secondary-600: 245 190 45; 

       /* --mx-primary-400: 232 81 207;
   --mx-primary-500: 91 81 232;
   --mx-primary-600: 82 82 82;
 
   --mx-secondary-500: 250 238 160;
   --mx-secondary-600: 245 190 45;  */
 
   /* UI neutrales */
   --mx-text: 31 41 55;
   --mx-muted: 82, 82, 82;
   --mx-border: 220 223 230;
   --mx-surface: 255 255 255;
   --mx-bg: 245 246 248;
 
   /* Ring / Loader */
   --mx-ring: var(--mx-primary-400);
   --mx-loader-track: 220 223 230;
   --mx-loader: var(--mx-primary-400);
 
   /* Semantic (status) */
   --mx-success-50: 236 253 245;
   --mx-success-600: 22 163 74;
   --mx-success-700: 21 128 61;
 
   --mx-warning-50: 255 251 235;
   --mx-warning-500: 245 158 11;
   --mx-warning-600: 217 119 6;
   --mx-warning-700: 180 83 9;
 
   --mx-danger-50: 254 242 242;
   --mx-danger-600: 220 38 38;
   --mx-danger-700: 185 28 28;
 
   --mx-info-50: 239 246 255;
   --mx-info-600: 37 99 235;
   --mx-info-700: 29 78 216;
 
   /* Component semantic */
   --mx-table-header-bg: var(--mx-secondary-500);
   --mx-table-header-text: var(--mx-primary-400);
   --mx-table-row-hover: 255 248 220;
 
   --mx-nav-action-bg: var(--mx-primary-400);
   --mx-nav-action-bg-hover: var(--mx-primary-600);
   --mx-nav-action-text: 255 255 255;
 }
 