@tailwind base;
@tailwind components;
@tailwind utilities;

/* Scope UI */
:where(.mx-ui) {
  color: rgb(var(--mx-text));
  background: rgb(var(--mx-bg));
}

:where(.mx-ui).mx-ui--full {
  min-height: 100vh;
}
